
<h1 class="text-danger text-center">Error.</h1>
<h2 class="text-danger text-center">The file chosen was in an incorrect format, please try again.</h2>

<input type="button" value="Return To File Pick" class="btn btn-primary btn-center" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
